body {
    background-image: url('https://fabrikbrands.com/wp-content/uploads/Super-Mario-Logo-1-1155x770.png'); /* Mario Hills Background */
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border: 4px solid #ff0000; 
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px #ff0000;
}

h1 {
    color: #ff0000;
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: #eae3e3;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    border: 3px solid #000;
    border-radius: 8px;
}

button {
    width: 90%;
    margin-top: 20px;
    padding: 12px;
    font-size: 14px;
    background-color: #1e90ff; /* Mario blue */
    border: 3px solid #000;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

button:hover {
    background-color: #104e8b;
    transform: scale(1.05);
}

h2 {
    margin-top: 20px;
    font-size: 14px;
}

#result {
    color: #ff0000;
}
