h1 {
    color: green;
    text-align: center;
    font-weight: 900;
    letter-spacing: 15px;
    font-size: 100px;
    font-family: monospace;
}

h2 {
    color: magenta;
}

p {
    color: white;
    background-color: black;
}

button {
    color: red;
    background-color: pink;

}