body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2{
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #0cca6b;
    display: flex;
    flex-direction: column;
    justify-content:right;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content:flex-end;
   
}

#container div {
    width: 200px;
    height: 200px;
    /* max-width: 300px; */
    text-align:center;
    /* flex-basis: 600px; */
    /* font-size: 30px; */

}

/* div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink:2;
}
div:nth-of-type(5) {
    flex-grow: 2;
}


main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar {
    background-color: #6930c3;
    flex:1 2 300px;
}
main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
} */