body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

h1{
    color: brown;
}
@media (min-width: 400px) and (max-width: 500px){
h1{
    color: blueviolet;
}

}
@media (min-width: 510px) and (max-width: 600px){
h1{
    color: rgb(79, 205, 44);
}
}