section{
    background-color: aqua;
    width: 800px;
    height: 800px;
}

div{
    background-color: blue;
    width: 70%;
    height: 20%;
}

h1{

    font-size: 40px;
    border: 1px solid black;
}

article{
    font-size: 50px;
}

