body{
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}
p{
    margin: 5px 0 5px 0;
}

a{
    text-decoration: none;
}
.profile-img{
  max-width:100%;
}
.business-card{
width: 300px;
background-color: aquamarine;
padding: 20px;
margin-top: 100px;
text-align: center;
font-size: 16px;
margin-left: auto;
margin-right: auto;
} 
